.react-multi-carousel-dot-list{
    li {
        width: 30px;
    }
}
.react-multi-carousel-track {
    margin: 0;
    padding-right: 0;
}

.carousel-luckyname {
    padding: 50px;
}

.custom-dot-list-style li{
    button {
        height: 15px;
        width: 15px;
        
    }
}

.bg {
    background-color: gainsboro;
}